body {
    background: #374ea4;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    color: #d4e0f8;
}

.highlighted {
    color: rgb(36, 166, 123);
}

.display-flex {
    display: flex;
    width: 25%;
}
.error-message {
    margin: 0 0 20px 0;
    width: 50%;
    font-weight: bold;
    color:rgb(222, 67, 73)
}

.header {
    background: #243482;
    margin: 0;
    text-align: center;
    padding-top: 1.5rem;
    width: 100%;
    align-content: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 8fr;
    align-content: center;
    justify-content: center;
}

h1, h2, h3 {
    margin-left: 20px;
}

.nav-a {
    color: #d4e0f8;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0rem 0rem 1.5rem 0rem;
}

a {
    color: #d4e0f8;
    text-decoration: none;
    font-size: 16px;
}

.cancel-link {
    padding: 8px 0 8px 0;
    background-color: #243482;
    border-radius: 14px;
    width: 40%;
    display: flex;
    justify-content: center;
}

form {
    padding: 5rem 0rem 0rem 0rem;
    margin: 0rem 20rem 0rem 20rem;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-skill-form {
    justify-content: left;
    margin: 0;
    width: 30%;
    height: 750px;
    padding: 0rem 0rem 0rem 20px;
    align-items: flex-start;
}

.bar {
    width: 50%;
    margin-bottom: 20px;
}

.bar-fill {
    width: 100%;
    margin-bottom: 20px;
}

input {
    width: 80%;
    height: 80%;
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
    border-radius: 14px;
    border: none;
    background-color: #4e6abf;
    color: #ffffff;
    opacity: .8;
    font-size: 16px;
}

.add-skill-input {
    margin-top: 10px;
    height: 50%;
}

.favourite-container {
    display: flex;
    align-items: center;
}

.favourite {
    width: 3%;
    height: 20px;
    margin: 0;
}


input[type="checkbox"] {
    position:relative;
    left: 0;
    outline: none;    
}

.radio-input {
    height: 15px;
    width: 15px;
}

.no-pads {
    padding: 0;
}

::placeholder {
    color: #ffffff;
    font-size: 14px;
}

label {
    padding: 10px 0 20px 0;
}

.inline-label {
    padding: 0 0 0 10px;
}

.button {
    background-color: #243482;
    color: white;
    font-size: 14px;
    border: none; 
    border-radius: 14px;
    width: 30%;
    height: 35px;
    margin: 0 auto;
}

.delete-button {
    background-color: rgb(222, 67, 73);
    color: white;
    font-size: 14px;
    border: none; 
    border-radius: 14px;
    width: 40%;
    height: 35px;
    margin: 0 0 0 20px;
}

.button:hover {
    background-color: #4e6abf;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgba(222, 67, 73, .8);
    cursor: pointer;
}

.row-button {
    height: 0px;
    margin: 0px;
    color: rgb(222, 67, 73);
    font-weight: bold;
}

.add-skills {
    padding: 15px;
    background-color: #243482;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin:  20px 0px 20px 20px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-skills:hover {
    cursor: pointer;
    background-color: #4e6abf;
}


/* TABLE VALUES */

table {
    width: 80%;
    margin: 20px;
    border-radius: 20px;
    background-color: #4e6abf;
    opacity: .9;
}

td, th {
    height: 20px;
    text-align: left;
    vertical-align: middle;
    padding: 15px;
    border: none;
    color: #ffded3;
}

th {
    border-bottom: 1px solid #d4e0f8;
}

td {
    position: relative;
    align-items: center;
}

tr:nth-child(even) {
    background-color: #374ea4;
    opacity: .8;
}

tr:hover {
    background-color: #243482;
    cursor: pointer;
}

.fill-cell {
    display: block;
    align-self: center;
}

.under-table {
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
}


img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-header {
    display: flex;
    align-items: center;
    height: 150px;
    margin-left: 20px;
}