{% extends "main.html" %}
{% block content %}
<div>
    {% if levels %}
    <table class="search-results">
        <thead>
            <th>Technology</th>
            <th>Level</th>
            <th>Experience (months)</th>
            <th>Favourite</th>
        </thead>
        <tbody>
            {% for level in levels %}
            <tr>
                <td>{{level[0]}}</td>
                <td>{{level[1]}}</td>
                <td>{{level[2]}}</td>
                <td>{{level[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <form action="/" method="post">
        <div class="bar">
            <label>Name of Technology</label>
            <input autocomplete="off" autofocus id="technology" name="technology" placeholder="e.g. Python" type="text">
        </div>
        <div class="bar">
            <label>Level of experience (1-10):</label>
            <input autocomplete="off" id="level" name="level" placeholder="Level" type="range" min="0" max="10">
            <output name="out" for="level"></output>
        </div>
        <div class="bar">
            <label>Experience (months):</label>
            <input autocomplete="off" id="level" name="experience" placeholder="Experience" type="range" min="0" max="240" step="1">
        </div>
        <div class="bar">
            <button type="submit" class="button">Add</button>
        </div>   
    </form>
</div>
{% endblock %}