{% extends "main.html" %}

{% block title %}
    Log In
{% endblock %}

{% block content %}
    <form action="/login" method="post">
        <div class="bar">
            <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="bar">
            <input id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="bar">
            <button type="submit" class="button">Log In</button>
            <button type="button" class="button">Signup</button>
        </div>
    </form>
{% endblock %}