{% extends "main.html" %}
{% block content %}
  <h1>Hello, {{username}}!</h1>
  <div>
    {% if levels %}
    <table class="search-results">
        <thead>
            <th>Technology</th>
            <th>Level</th>
            <th>Experience (months)</th>
            <th>Favourite</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for level in levels %}
            <tr>
                <td style="width: 25%">{{level[0]}}</td>
                <td style="width: 10%">{{level[1]}}</td>
                <td style="width: 10%">{{level[2]}}</td>
                <td style="width: 10%">{{level[3]}}</td>
                <td style="width: 3%">
                    <a href="{{ url_for('delete_skill', skill=level[0])}}" class="no-pads row-button">X</a>               
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <h3>Add a Skill</h3>
    <form action="/" method="post" class="add-skill-form">
      <div class="bar-fill">
          <label>Name of Technology</label>
          <input class="add-skill-input" autocomplete="off" id="technology" name="technology" placeholder="e.g. Python" type="text" required>
      </div>
      <div class="bar-fill favourite-container">
        <input class="add-skill-input favourite" autocomplete="off" id="favourite" name="favourite" type="checkbox" value="True">
        <label for="favourite" class="inline-label">Favourite?</label>
      </div>
      <div class="bar-fill">
          <label>Level of experience (0-10):</label>
          <input class="no-pads" autocomplete="off" id="level" name="level" placeholder="Level" type="range" min="0" max="10" required>
      </div>
      <div class="bar-fill">
          <label>Experience (months):</label>
        </div>
          <div class="bar-fill">
            <input class="radio-input"type="radio" id="experience" name="experience" value="< 3 months">
            <label for="html">< 3 months</label><br>
            <input class="radio-input"type="radio" id="experience" name="experience" value="3-6 months">
            <label for="html">3-12 months</label><br>
            <input class="radio-input"type="radio" id="experience" name="experience" value="12-24 months">
            <label for="html">12-24 months</label><br>
            <input class="radio-input"type="radio" id="experience" name="experience" value="> 24 months">
            <label for="html">> 24 months</label><br>
          </div>
      <div class="bar-fill">
          <button type="submit" class="button">Add</button>
      </div>   
  </form>
  </div>
{% endblock %}