<!DOCTYPE html>

<html lang="en">
  <head>
    <link href="/static/styles.css" rel="stylesheet">
    <!-- Google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <title>:{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="header">
      <a href="/">Profile</a>
      <a href="/search">Search</a>
    {% if session["user_id"] %}
        <a href="/rankings">Rankings</a>
        <a href="/logout">Logout of {{ session["username"] }}</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}
    </nav>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </body>
</html>