{% extends "main.html" %}
{% block content %}
  <h1>@{{username}}</h1>
  <div>
    {% if levels %}
    <table class="search-results">
        <thead>
            <th>Technology</th>
            <th>Level</th>
            <th>Experience (months)</th>
            <th>Favourite</th>
        </thead>
        <tbody>
            {% for level in levels %}
            <tr>
                <td style="width: 25%">{{level[0]}}</td>
                <td style="width: 25%">{{level[1]}}</td>
                <td style="width: 25%">{{level[2]}}</td>
                <td style="width: 25%">{{level[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
  </div>
{% endblock %}