{% extends "main.html" %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <form action="/search" method="post" class="search-form">
        <div class="search-bar">
            <input autocomplete="off" autofocus id="search-bar" name="search-bar" placeholder="Film title" type="text">
            <button type="submit" class="button">Search</button>
        </div>     
    </form>
    {% if results %}
    <table class="search-results">
        <thead>
            <th>Title</th>
            <th>Year</th>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{result[0]}}</td>
                <td>{{result[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}